@if(tabs.length > 0) {
  <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
    @for(tab of tabs; track tab.id) {
      <li class="me-2">
        <button
          (click)="onTabChanged(tab.id)"
          class="inline-block p-4 rounded-t-lg active focus:outline-blue-500"
          [ngClass]="activeTab === tab.id ? 'text-blue-600 bg-gray-100' : 'hover:text-gray-600 hover:bg-gray-50'"
        >
          {{tab.name}}
        </button>
      </li>
    }
  </ul>
}
