<div class="grid gap-2 px-4 py-2 mt-[4.5rem] bg-slate-100">
  <div class="flex justify-between items-center px-4 py-2 bg-white rounded-md">
    <p>Meus Agendamentos</p>
    <button
      class="relative ion-activatable flex p-2 bg-white rounded-md focus:outline-none overflow-hidden"
      (click)="loadCorridas()"
    >
      <ui-icon name="arrow-path-outline" class="h-4 w-4 text-black" />
      <ion-ripple-effect class="text-gray-400"></ion-ripple-effect>
    </button>
  </div>
  <div class="grid grid-flow-col auto-cols-max gap-2">
    <div
      (click)="updateFilter('pendente')"
      [ngClass]="(filter$ | async)?.pendente ? 'bg-gray-300' : 'bg-gray-200 text-gray-400'"
      class="ion-activatable relative p-2 px-3 rounded-lg w-max text-sm overflow-hidden">
      Pendente
      <ion-ripple-effect class="text-gray-50"></ion-ripple-effect>
    </div>
    <div 
      (click)="updateFilter('finalizado')"
      [ngClass]="(filter$ | async)?.finalizado ? 'bg-gray-300' : 'bg-gray-200 text-gray-400'"
      class="ion-activatable relative p-2 px-3 rounded-lg w-max text-sm overflow-hidden">
      Finalizado
      <ion-ripple-effect class="text-gray-50"></ion-ripple-effect>
    </div>
  </div>
</div>

<ion-content class="ion-bg-slate-100">
  <div class="grid gap-4 px-4 pt-2 pb-4">
    @for(agendamento of agendamentos$ | async; track agendamento.id) {
      <ui-agendamento [agendamento]="agendamento" [type]="3" (activate)="setActiveCorrida(agendamento.id)" />
    } @empty {
      <div class="grid gap-4 border shadow-lg text-center rounded-md bg-white w-full p-12">
        <p>Não há agendamentos para serem mostrados</p>
        <button
          class="relative ion-activatable bg-guide-gray disabled:opacity-25 text-white font-bold w-full focus:outline-none rounded-md p-4 py-2"
          routerLink="/corridas-disponiveis"
        >
          Agendamentos Disponíveis
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    }
  </div>
</ion-content>
